/**** RESETS ****/

* { box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/**** GLOBAL ****/

body {
  background-color: #272727;
  color: #fff;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 100%;
  letter-spacing: -0.03rem;
}

body.clip { overflow: hidden !important; }


/* Typography */

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {

}

h2 {
  font-size: 3rem;
}

/*p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}*/

.feature-text p,
p.feature-text {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
  margin-bottom: 2rem;
  max-width: 55rem;
}

.feature-text a {
  color: gold;
  text-decoration: none;
}

.feature-text a:hover {
  color: gold;
  text-decoration: underline;
}

/* Links & Buttons */

a {
  color: mediumspringgreen;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover { text-decoration: underline; }


/**** PRIMARY NAV ****/

/* Primary Nav Banner */

.nav-main-banner {
  background-color: rgba(39, 39, 39, 0.9);
  left: 0;
  min-height: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
}

.nav-main-banner > div {
  left: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
}

.nav-main-banner h1 {
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0;
}

.nav-open .nav-main-banner h1 { color: #333; }

.nav-main-banner .current-section { display: none; }

.nav-main-banner h1 a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  transition: none;
}

.nav-main-banner h1 a:hover {
  color: mediumspringgreen;
  text-decoration: none;
}

.nav-main nav {
  background-color: #fff;
  bottom: 0;
  left: -9999px;
  opacity: 0;
  padding: 6rem 1rem 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-main nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1001;
}

.nav-main nav li { margin-top: 1rem; }

.nav-main nav li:first-child { margin-top: 0; }

.nav-main nav a {
  color: #333;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.08rem;
  line-height: 1.1;
  text-decoration: none;
}

.nav-main nav a:hover {
  color: #333;
  text-decoration: underline;
}

.nav-open .nav-main-banner { z-index: 999; }

.nav-open .nav-main nav {
  opacity: 1;
  left: auto;
}

@media only screen and (min-width: 48em) {

  .nav-main-banner > div { left: 1.5rem; }

  .nav-open .nav-main-banner h1 { color: #fff; }

  .nav-main-banner .current-section {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 0.5rem;
  }

  .nav-main nav {
    padding: 7rem 2rem 2rem;
    width: 15rem;
  }

  .nav-main nav a {
    font-size: 1.6rem;
  }

}

@media only screen and (min-width: 64em) {

  .nav-main-banner { min-height: 5rem; }

  .nav-main-banner > div { left: 2rem; }

}

/* Nav Menu Icon (Hamburger) */

.nav-menu-icon {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  height: 1.5rem;
  outline: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  transition: opacity 0.3s, left 0s 0.3s, right 0s 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1.8rem;
  z-index: 1001;
}

.nav-menu-icon > div {
  background-color: #fff;
  float: right;
  height: 0.1875rem;
  position: relative;
  right: 0;
  transition: 0.2s;
  width: 1.4rem;
}

body:not(.nav-open) .nav-menu-icon:hover > div {
  right: 0;
  width: 1.8rem;
}

.nav-menu-icon > div:before,
.nav-menu-icon > div:after {
  background-color: #fff;
  content: '';
  display: block;
  height: 0.1875rem;
  position: absolute;
  right: 0;
  transition: 0.2s;
  width: 1.8rem;
  z-index: -1;
}

body:not(.nav-open) .nav-menu-icon:hover > div:before,
body:not(.nav-open) .nav-menu-icon:hover > div:after {
  right: 0;
  width: 1.4rem;
}

.nav-menu-icon > div:before { top: 0.5em; }
.nav-menu-icon > div:after { top: -0.5em; }

/* Nav open 'x' revealed */

body.nav-open .nav-menu-icon > div { background-color: transparent; }

.nav-open .nav-menu-icon > div:before,
.nav-open .nav-menu-icon > div:after {
  background-color: #333;
  transition: 0.3s;
}

.nav-open .nav-menu-icon > div:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-open .nav-menu-icon > div:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-open:not(.steps) .nav-menu-icon > div:before,
.nav-open:not(.steps) .nav-menu-icon > div:after {
  top: 0 !important;
}

@media only screen and (min-width: 48em) {

  .nav-menu-icon { right: 1.5rem; }

}

@media only screen and (min-width: 64em) {

  .nav-menu-icon { right: 2rem; }

}


/**** SITE STRUCTURE ****/

.main {
  margin-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (min-width: 48em) {

  .main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

}

@media only screen and (min-width: 64em) {

  .main {
    margin-top: 5rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }

}

.content-block-bottom { padding-bottom: 2rem; }
.content-block-top { padding-top: 2rem; }

@media only screen and (min-width: 48em) {

  .content-block-bottom { padding-bottom: 4rem; }
  .content-block-top { padding-top: 4rem; }

}

@media only screen and (min-width: 64em) {

  .content-block-bottom { padding-bottom: 6rem; }
  .content-block-top { padding-top: 6rem; }

}


/**** CONTENT ****/

/* Projects */

.projects h2 {
  font-size: 2.8rem;
  line-height: 1;
  margin-bottom: 1.2rem;
}

.projects ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.projects li {
  display: inline-block;
  margin-top: 1rem;
  width: 100%;
}

.projects li:first-child { margin-top: 0; }

.projects a {
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
  line-height: 1.1;
  margin: 0;
  text-align: left;
  text-decoration: none;
}

.projects a:hover { color: mediumspringgreen; }

.projects a span {
  font-weight: 300;
  margin-right: 0.5rem;
}

@media only screen and (min-width: 48em) {

  .projects h2 { display: none; }

  .projects a { font-size: 2rem; }

  .projects a span { margin-right: 1rem; }

}

@media only screen and (min-width: 64em) {

  .projects a { font-size: 2.8rem; }

}


/**** FOOTER ****/

.footer-main {
  background-color: #222;
  bottom: 0;
  height: 5rem;
  left: 0;
  position: absolute;
  right: 0;
}