/**** RESETS ****/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img { width: 100%; }


/**** UTILITIES ****/

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.0625rem;
  width: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.break { display: table; }

.clip { overflow: hidden !important; }


/**** GLOBAL ****/

/* Body Styles */

body {
  background-color: #fff;
  color: #333;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: 600;
}


/* Typography */

h2 {
  font-size: 6vh;
  line-height: 6.5vh;
  margin-bottom: 4vh;
}

h3 {
  font-size: 4.5vh;
  line-height: 5.5vh;
  margin-bottom: 4vh;
}

h4 {
  font-size: 3.5vh;
  font-weight: 400;
  line-height: 4.5vh;
  margin-bottom: 4vh;
}

p {
  font-size: 4vh;
  line-height: 6vh;
  margin-top: 4vh;
}

p:first-of-type { margin-top: 0; }


/* Links & Buttons */

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.button {
  background-color: #333;
  color: #fff;
  display: inline-block;
  font-size: 3.5vh;
  font-weight: 600;
  line-height: 5.5vh;
  margin-top: 2rem;
  outline: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  width: 100%;
}

.button:active,
.button:focus,
.button:hover {
  background-color: #ccc;
  color: #333;
}

@media only screen and (min-width: 48em) {

  .button { width: auto; }

}

/* Form */

form {
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 3rem;
  width: 100%;
}

label {
  display: inline-block;
  margin-top: 2rem;
  width: 100%;
}

label:first-of-type { margin-top: 0; }

.input-wrap {
  background-color: #fff;
  position: relative;
}

.input-wrap > * {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: transparent;
  border-bottom-color: #333;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  display: block;
  color: #333;
  font-size: 4vh;
  font-weight: 600;
  line-height: 6vh;
  outline: none;
  padding: 0 1.5rem 0.5rem 0;
  transition: border-bottom-color 0.3s;
  width: 100%;
}

.input-wrap > textarea {
  height: 10rem;
  padding-bottom: 1rem;
  resize: none;
}

.input-wrap > *:focus {
  border-bottom-color: #333;
  outline: none;
}

.input-wrap > *::-webkit-input-placeholder { color: #333; }
.input-wrap > *:focus::-webkit-input-placeholder { color: #ccc; }
.input-wrap > *::-moz-placeholder { color: #333; }
.input-wrap > *:focus::-moz-placeholder { color: #ccc; }
.input-wrap > *:-ms-input-placeholder { color: #333; }
.input-wrap > *:focus:-ms-input-placeholder { color: #ccc; }

.input-required:after {
  color: #333;
  content: '*';
  font-size: 4vh;
  height: 2.3rem;
  line-height: 6vh;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s;
}



@media only screen and (min-width: 48em) {

  

}


/* Main Navigation */

.main-nav-bar {
  background-color: rgba(255, 255, 255, 0.9);
  height: 3.6rem;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 0.2s;
  width: 100%;
  z-index: 1002;
}

.main-nav-heading {
  color: #333;
  font-size: 1.45rem;
  left: 1rem;
  line-height: 1.2;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1003;
}

.main-nav-heading a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}

.main-nav-heading a:hover {
  color: inherit;
  text-decoration: underline;
}

.main-nav-inner {
  background-color: #111;
  bottom: 0;
  left: -1000rem;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.2s, left 0s 0.2s, visibility 0s 0.2s;
  visibility: hidden;
  z-index: 1001;
}

.main-nav-links {
  list-style: none;
  margin-right: 30%;
  margin-left: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.2s;
}

.main-nav-links li {
  color: #fff;
  font-size: 7vh;
  line-height: 7.5vh;
}

.main-nav-links li a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}

.main-nav-links li a:hover,
.main-nav-links li a:focus {
  color: inherit;
  outline: none;
  text-decoration: underline;
}

.main-nav-links li a span { display: table; }

/* Nav Open */

.nav-open .main-nav-bar {
  background-color: #111;
  transition: background-color 0.2s;
}

.nav-open .main-nav-heading a { color: #fff; }

.nav-open .main-nav-inner {
  left: 0;
  opacity: 1;
  transition: opacity 0.2s, left 0s 0s, visibility 0s 0s;
  visibility: visible;
}

@media only screen and (min-width: 48em) {

  .main-nav-bar { height: 4.6rem; }

  .main-nav-heading {
    font-size: 1.6rem;
    left: 2rem;
  }

  .main-nav-links { margin-left: 2rem; }

}

/* Nav Menu Icon (Hamburger) */

.main-nav-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  height: 1.3rem;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s, left 0s 0.3s, right 0s 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2rem;
  z-index: 1003;
}

.main-nav-toggle > div {
  background-color: #333;
  float: right;
  height: 0.1875rem;
  position: relative;
  right: 0;
  transition: 0.2s;
  width: 1.5rem;
}

.main-nav-toggle > div:before,
.main-nav-toggle > div:after {
  background-color: #333;
  content: '';
  display: block;
  height: 0.1875rem;
  position: absolute;
  right: 0;
  transition: 0.2s;
  z-index: -1;
}

.main-nav-toggle > div:before { width: 1rem; }
.main-nav-toggle > div:after { width: 2rem; }

body:not(.nav-open) .main-nav-toggle:hover > div:before { width: 2rem; }
body:not(.nav-open) .main-nav-toggle:hover > div:after { width: 1rem; }

.main-nav-toggle > div:before { top: 0.5em; }
.main-nav-toggle > div:after { top: -0.5em; }

/* Nav open 'x' revealed */

body.nav-open .main-nav-toggle > div { background-color: transparent; }

.nav-open .main-nav-toggle > div:before,
.nav-open .main-nav-toggle > div:after {
  background-color: #fff;
  transition: 0.3s;
  width: 2rem;
}

.nav-open .main-nav-toggle > div:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-open .main-nav-toggle > div:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-open:not(.steps) .main-nav-toggle > div:before,
.nav-open:not(.steps) .main-nav-toggle > div:after {
  top: 0 !important;
}

@media only screen and (min-width: 48em) {

  .main-nav-toggle { right: 2rem; }

}


/* Main Content Wrapper */

.main-content {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 23vh;
}

@media only screen and (min-width: 48em) {

  .main-content {
    margin-left: 2rem;
    margin-right: 2rem;
  }

}


/* Projects */

.projects-list { margin-top: 7vh; }

.projects {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

.project { margin-top: 4vh; }

.project:first-of-type { margin-top: 0; }

.project-button {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 3.5vh;
  font-weight: 600;
  line-height: 4.5vh;
  text-align: left;
}

.project-button:hover,
.project-button:focus {
  color: #333;
  outline: none;
  text-decoration: underline;
}

@media only screen and (min-width: 48em) {

  .projects-list { margin-top: 4rem; }

}


/* Modals */

.modal {
  background-color: #fff;
  bottom: 0;
  left: -1000rem;
  opacity: 0;
  overflow-y: auto;
  padding: 23vh 1rem 1rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.2s, left 0s 0.2s;
  width: 100%;
  z-index: 1002;
}

/* Open Modal */

.modal-active {
  left: 0;
  opacity: 1;
  transition: opacity 0.2s, left 0s 0s;
}

/* Close modal */

.modal-close {
  background-color: transparent;
  border: none;
  display: inline-block;
  height: 1.8rem;
  overflow: hidden;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.8rem;
}

.modal-close:before,
.modal-close:after {
  background: #333;
  content: '';
  height: 0.1875rem;
  left: 0;
  margin-top: -0.1rem;
  position: absolute;
  top: 50%;
  width: 1.8rem;
}

.modal-close:before { transform: rotate(45deg); }
.modal-close:after { transform: rotate(-45deg); }

.modal-active .modal-close { position: fixed; }

@media only screen and (min-width: 48em) {

  .modal { padding: 8rem 3rem 3rem; }

  .modal-close {
    right: 2rem;
    top: 2rem;
  }

}


/* Footer */

footer { margin: 3rem 1rem 1rem; }

footer span {
  font-size: 2.5vh;
  line-height: normal;
}

@media only screen and (min-width: 48em) {

  footer {
    margin-left: 2rem;
    margin-right: 2rem;
  }

}


